@import 'common.css';
@import 'toast.css';

:root {
  --background-color: #fff;
  --main-text-color: #909090;
  --sub-text-color: #d6d6d6;
  --font-color: #000000de;
  --active-color: #1c32ff;
  --success-color: #56ff85;
  --error-color: #ed2553;
  --width: 460px;
  --trasition-delay: 0.4s;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  font-family: 'Roboto', sans-serif;
  background: no-repeat url(../images/signBackground.jpg) #bee2ff;
  background-size: cover;
}

.form {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  width: 100%;
  max-width: var(--width);
  height: 90%;
  min-height: 660px;
  background: var(--background-color);
  border-radius: 10px;
  padding: 75px 50px 20px 50px;
}

.title {
  position: relative;
  margin-bottom: 120px;
  width: 100%;
  line-height: 40px;
  font-size: 3.25rem;
  font-weight: 700;
  color: #000;
}

.input-outer {
  overflow: auto;
  overflow-x: hidden;
}

.input-container {
  position: relative;
  margin: 50px 0 35px;
}

.input-container label {
  font-size: 1.25rem;
  font-weight: 500;
  color: var(--sub-text-color);
}

.input-container input {
  color: var(--font-color);
  width: 100%;
  height: 50px;
  border: none;
  background: transparent;
  outline: none;
  padding: 0.4rem;
}

.input-container input:focus + label,
.input-container input:valid + label {
  top: -65%;
}

.input-container input + label {
  position: absolute;
  top: 0;
  left: 0.4rem;
  line-height: 60px;
  cursor: pointer;
}

.input-container .bar {
  position: absolute;
  left: 0;
  bottom: 0;
  background: var(--sub-text-color);
  width: 100%;
  height: 3px;
}

.input-container .bar:before,
.input-container .bar:after {
  content: '';
  position: absolute;
  background: var(--active-color);
  width: 0;
  height: 2px;
  transition: var(--trasition-delay) ease;
}

.input-container .bar:before {
  left: 50%;
}

.input-container .bar:after {
  right: 50%;
}

.input-container input:focus ~ .bar:before,
.input-container input:focus ~ .bar:after {
  width: 50%;
}

.input-container .icon {
  width: 24px;
  height: 24px;
  position: absolute;
  top: 1rem;
  right: 0.4rem;
  font-size: 1.4rem;
  pointer-events: none;
}

.input-container .icon.icon-success {
  color: var(--success-color);
}

.input-container .icon.icon-fail {
  color: var(--error-color);
}

.input-container .error-message {
  position: absolute;
  top: 120%;
  left: 0.4rem;
  font-size: 0.875rem;
  color: var(--error-color);
}

.button {
  width: 100%;
  line-height: 66px;
  font-weight: 700;
  font-size: 2rem;
  margin-top: 20px;
  border: none;
  background-color: var(--active-color);
  color: #fff;
  cursor: pointer;
  outline: none;
}

.button:disabled {
  background-color: transparent;
  border: 3px solid var(--sub-text-color);
  color: var(--sub-text-color);
}

.link {
  margin: 20px 0 10px;
  color: var(--sub-text-color);
  text-align: center;
  /* transition: var(--trasition-delay) ease; */
}

.link > a:hover {
  color: var(--main-text-color);
}

.hidden {
  display: none !important;
}

.addtransition {
  transition: var(--trasition-delay) ease;
}
